
.selector_item {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #fff;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 2rem;
    margin-left: 4.2rem;
    cursor: pointer;
    
}

.selector_item.active {
    border: 2px solid #1445B0;
  }
