
.selector_item {
    width: 4rem;
    height: 4rem;
    contain: content;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    
}

.selector_item p {
    font-size: 1.2vw;
   
}

.selector_item.active {
    border: 2px solid #1445B0;
  }

  
 
  @media (max-width: 770px) {

    .selector_item {
        width: 2rem;
        height: 2rem;
    }
     
  }
