.canvas_container {
    border: 1px solid black;
    width: 22%;
    height: fit-content;
    contain: content;
   
}

.canvasDefault_container {
    border: 1px solid black;
    width: 22%;
    height: 20rem;
    
}

.canvas_container svg {
 width: inherit;
 height: inherit;
 position: relative;
 top: 0.5rem;
 
}


@media (max-width: 770px) {
   

    .canvas_container {
        position: relative;
        bottom: 4rem;
        width: fit-content;
        height: fit-content;
        contain: content;
        
        
    }
    .canvas_container svg {
        width: 15rem;
        height: 15rem;
        
       }
  
     
  }
  
