.canvas_container {
    border: 1px solid black;
    width: 25%;
    height: 22rem;
   
    bottom: 4rem;
    contain: content;
   
}

.canvas_container svg {
 width: inherit;
 height: inherit;
 
}
