.createAvatar_container {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: -6rem;
    
   
    
}
.createAvatar_subcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
   
   
}

.createAvatar_buttons_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.createAvatar_buttons {
    width: 3.5rem;
    height: 3.5rem;
    background: linear-gradient(180deg, #D8ECFF 0%, rgba(239, 215, 234, 0.29) 100%);
    position: relative;
    left: 5rem;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.createAvatar_buttons i {
    font-size: 2rem;
    font-weight: bold
  }

.createAvatar_buttons_mobile {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 7rem;
    display: none;
}

  
#saved {
    position: relative;
    text-align: center;
    bottom: 6rem;
}


@media (max-width: 970px) {
    .createAvatar_container {
        gap: 0.5rem;
    }

    .createAvatar_buttons_mobile {
        right: 0.5rem;
    }
 
}


@media (max-width: 1205px) {

    .createAvatar_buttons_container {
        display: none;
       
    }

    .createAvatar_buttons_mobile {
        display: flex;
        right: -1rem;
    }

 
}

@media (max-width: 1042px) {


    .createAvatar_buttons_mobile {
        right: 2rem;
    }

 
}


@media (max-width: 800px) {

    
    .createAvatar_buttons_mobile {
        right: 3.5rem;
       
    }
 
}

@media (max-width: 770px) {
    #saved {
        position: relative;
        bottom: 11rem;
    }
    

    
    .createAvatar_container {
      

    }

    .createAvatar_buttons_mobile {
        width: 2rem;
        height: 2rem;
        border-radius: 10px;
        position: relative;
        right: 7rem;
        bottom: 10rem;
       
    }
 
}


