#home_container {
    margin-top: 1rem;

}
#circle {
    background-image: url('../../../public/assets/img/circle.svg');
    width: 304.47px;
    height: 304.47px;
    background-repeat: no-repeat;
}

#example_container {
    background-image: url('../img/exampleBackground.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 400px;
    position: relative;
    left: 170px;
    bottom: 20rem;
    contain: content;
    overflow-y: hidden;

    

}

#example_container svg {
    width: inherit;
    height: 390px;
    

    
    


}
.flex_container {
    display: flex;
    flex-direction: row;
    gap: 19rem;

}

#home_right_section {
    position: relative;
    width: 600px;
    height: 135px;
    top: 2rem;
}

.centered_button {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

#started_button {
    background-color: #fff;
}


#home_right_section p {
    text-align: center;
    color: #DFE7F7;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 41px;

}

#bottom_elipse {
    position: relative;
    width: 300px;
    height: 300px;
    left: 74rem;
    top: 0.5rem

}

#bottom_circle {
    position: relative;
    top: 2.7rem;

}
