#login_container {
    margin-top: 4rem;
    margin-bottom: 5rem;
    
}

.login_form {
    width: 30%;
    margin-left: 50%;
    
}


#login_container h2 {
    color: #fff;
    margin-left: 61%;
    width: fit-content;
   
}

.chara_container {
    background-color: #fff;
    width:  300px;
    height: 300px;
    left: 10rem;
    border-radius: 200px;
    position: relative;
    bottom: 16rem;
    contain: content;
   
}

#chibi_character {
    width: fit-content;
    height: fit-content;
}

