#login_container {
    margin-top: 4rem;
    margin-bottom: 5rem;
    
}

.login_form {
    width: 30%;
    margin-left: 50%;
    
}

.jd {
    
}

#login_container h2 {
    color: #fff;
    margin-left: 61%;
    width: fit-content;
   
}

#chibi_character {
    position: relative;
    width: 500px;
    height: 500px;
    left: 10rem;
    bottom: 10rem;
}

