.variantsSelector_container {
    background: linear-gradient(90deg, rgba(239, 215, 234, 0.3) 0%, #D8ECFF 100%);
    height: 11rem;
    width: 88%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
   
}

.attribute {
    background-color: #fff;
    width: 143px;
    height: 143px;
    cursor: pointer;
}

.attribute p {
    margin-top: 45%;
    text-align: center;

}

