.variantsSelector_container {
    background: linear-gradient(90deg, rgba(239, 215, 234, 0.3) 0%, #D8ECFF 100%);
    height: 11rem;
    width: 88%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    contain: content;
   
}

.attribute {
    background-color: #fff;
    width: 143px;
    height: 143px;
    cursor: pointer;
    contain: content;
}

.attribute.active {
    border: 2px solid #1445B0;
  }

.attribute p {
    margin-top: 45%;
    text-align: center;

}

.attribute svg {
   width: 100%;
   height: 100%;
}

.svgresized {
    display: flex;
    justify-content: center;
    align-items: center;

}

.svgresized svg {
    display: block;
	max-width: 100%;
	height: auto;
	margin: 1em;
    
}

.selector_colors {
    background: linear-gradient(180deg, #D8ECFF 0%, #DFE7F7 25.52%, #E4E2F2 50.52%, #EADDEE 74.48%, #EFD7EA 100%);
    max-width: 35%;
    height: 25rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 3.5rem 2rem 3.5rem;
    
    
}

.color_item {
    width: 2.9rem;
    height: 2.9rem;
    contain: content;
    background-color: #fff;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    border-radius: 50px;
    
}

.color_item.active {
    border: 2px solid #1445B0;
  }

   
  @media (max-width: 770px) {
    .selector_colors { 
        display: flex;
        flex-direction: row;
        position: relative;
        width: fit-content;
        height: 2rem;
    }
  
     
  }
