.createAvatar_container {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    
}
.createAvatar_subcontainer {
    display: flex;
    flex-direction: row;
    gap: 7rem;
    align-items: center;
    justify-content: center;
    width: 100%;

}
