.profile_container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#user_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.user_avatar_container {
    background-color: #fff;
    width: 300px;
    height: 300px;
}


.user_name_container  {
    
}

.userAvatars_container {
    
}
