.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-success {
  color: #DFE7F7;
  text-align: center;
}

.text-failed {
  color: #C61E44;
  text-align: center;
}

/* Header */
header {
  width: 100%;
  height: 25rem;
  background-image: url("assets/img/elipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  bottom: 5rem;

}
#navigation_container {
  display: flex;
  flex-direction: row;
  gap: 50rem;
  justify-content: center;
  width: 100%; 
  position: relative;
  top: 5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  
}

.navigation_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  width: fit-content;
}

.navigation_content a {
  display: flex;
  flex-direction: row;
  align-items: center;

}

#title {
  font-family: 'Monomaniac One', sans-serif;
  bottom: 3.5rem;
  font-style: normal;
  font-weight: 400;
  font-size:8vw;
  line-height: 174px;
  text-align: center;
  color: #FFFFFF;

}

/* mobile menu */

.navigation-menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  bottom: 4rem;
  gap: 1rem;
  padding-top: 1rem;
  background-color: white;
  border-top: 1px solid black;
  display: none;
  
  
}


.navigation-menu  li {
  list-style: none;
  text-align: center;
  margin: 0;

}

.navigation-menu a {
 

}

.navigation-menu a:hover {
 
}

.burger{
  font-size: 2rem;
  color: #fff;
  display: none;
  border: 0;
  padding: 0.5rem;
  cursor: pointer;
  position: absolute;
  top: 40%;
  right: 25px;
 
}
.burger i {
  font-size: 25px;

}



@media (max-width: 1162px) {
  header {
    background-image: none!important;
  }
  #title {
    margin-top: 2rem;
  }
  .navigation_content {
    display: none;
  }

  .burger {
    display: block;
    
  }

  .navigation-menu.expanded {
    display: flex;
  }

 
}

/* Footer */

footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #D8ECFF 0%, #DFE7F7 25.52%, #E4E2F2 50.52%, #EADDEE 74.48%, #EFD7EA 100%);
  height: auto;
  width: 100%;
  padding-top: 2px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.socials{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
  

}

.socials a{
  color: #fff;
 
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  width: 100%;
  padding-bottom: 1rem;
  text-align: center;
}

.footer-bottom p{
  text-align: center;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
 color:#44bae8;
 font-size: 16px;
}
.footer-bottom span{
   text-transform: uppercase;
   opacity: 4;
   font-weight: 200;
}



/* selectors */

.selector {
    background: linear-gradient(180deg, #D8ECFF 0%, #DFE7F7 25.52%, #E4E2F2 50.52%, #EADDEE 74.48%, #EFD7EA 100%);
    max-width: 35%;
    height: 25rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 3.5rem 2rem 3.5rem;
    

}


/* avatarCard */
.avatarCard_container {
  background-color: #111112;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}


.avatar_image {
  background-color: #fff;
  width: 175px;
  height: 175px;
  
}

.avatar_image img {
  width: inherit;
  height: inherit;
}

.avatar_interactions {
  width: 180px;
  height: 40px;
  padding: 0.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}

.avatar_interactions span {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;

}

.avatar_interactions img {
  width: inherit;
  height: inherit;
}


/* mobile */


@media (max-width: 850px) {
  .selector { 
    grid-template-columns: repeat(1, 1fr); 
    white-space: nowrap; 
    overflow-y: scroll;
   }
  
   
}

@media (max-width: 700px) {
  .selector { 
    display: block;
    white-space: nowrap; 
    overflow-y: scroll;
   }
  
   
}




