
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111112;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
  contain: content;
    
}

.onlyWhite-header {
  background-color: #FFFFFF; 

}

.white-background {
  background-color: #FFFFFF; 


}



.white-background header{ 
  background-image: url("./assets/img/headerVariant.svg");

}
.createAvatar-background {
  background-color: #FFFFFF; 

}

.createAvatar-background #title{
  font-size:7vw;

}

@media (max-width: 1162px) {
  .createAvatar-background #title{
   color: #000;
  }
 
}

.createAvatar-background header{ 
  background-image: url("./assets/img/headerVariant.svg");

}

.createAvatar-background header p {
  content: "creation time";
}
.profile-background {
  background: radial-gradient(55.82% 115.71% at 22.37% 31.07%, #D8ECFF 0%, #DFE7F7 25%, #E4E2F2 50%, #EADDEE 75%, #EFD7EA 100%) 

}

.profile-background header {
  background-image: url("./assets/img/elipseBlack.svg");

}

.profile-background a {
  color: #fff;
}



button {
  background-color: #DFE7F7;
  border: none;
  text-align: center;
  width: 150px;
  height: 45px;
  border-radius: 9px;
  font-family: 'Nunito Sans', sans-serif;
  cursor: pointer;
}

.white-button {
  background-color: #fff;
  border: none;
  text-align: center;
  width: 150px;
  height: 45px;
  border-radius: 9px;
  font-family: 'Nunito Sans', sans-serif;
  cursor: pointer;

}
a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

a.active {
  text-decoration: underline;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background: linear-gradient(180deg, #D8ECFF 0%, #DFE7F7 25.52%, #E4E2F2 50.52%, #EADDEE 74.48%, #EFD7EA 100%);
  
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
}

input[type=submit]{
  background-color: #111112;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  width: 25%;
  height: 2rem;
  text-align: center;
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

